{% extends "./layout.html" %}
{% load static %}

{% block content %}
    <br>
    <p>
        Pittlets was created because subletting at CMU sucked and relied entirely on a Facebook group to do everything. When I was in Philadelphia last summer, UPenn students used a site called Pennlets to
        handle all of their subletting, and it was a godsend.
        I've also been very wary of subletting from strangers if they weren't a student because students just want to make sure they aren't wasting their rent while landlords might want to make a profit.
    </p>
    <p>
        I'm not putting on ads or any kind of revenue generating thing on here. If this service has helped you,
        please <a href = "https://www.yelp.com/user_details?userid=XCZm0RRjnvz54mZGP25_cg";>consider liking all my reviews on Yelp</a>
        so I can get Yelp elite.
    </p>

    <br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}